.AddPost {
  display: flex;
  flex-direction: column;
  font-family: 'Calibri';
  line-height: '1.2';
  width: 100%;
  margin: 6px 0;
  padding: 20px 16px 0;
  border: 2px solid #364968;
  border-radius: 5px;
  min-height: 60px;
}

.AddPostTextarea {
  border: none;
  outline: none;
  resize: none;
}

.SubmitButtonHolder {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.SubmitButton {
  width: 15%;
  cursor: pointer;
  border: 1px solid #364968;
  background-color: inherit;
  border-radius: 3px;
  font-weight: 400;
}
