.AuthPage {
  width: 30%;
  height: 240px;
  margin: 0 auto;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.Label {
  width: 100%;
  text-align: center;
}

.FormHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.Form {
}

.ButtonHolder {
  display: flex;
  width: 100%;
  float: none;
  justify-content: space-evenly;
}

.btn {
  background-color: inherit;
  width: 30%;
  height: 32px;
  margin: 0 24px;
}
